{% extends './layout.html' %}
{% block title %}OkCasas - Servicios{% endblock %}

{% block body %}

    <div class="container-fluid">
     <div class="contenido-servicios">
        <div class="titulo-servicios">
          <h2>¿Que servicio necesitas?</h2>
        </div>
        <div class="servicios">
          <form id="servicios-form" name="servicios-form">
            <ul>
              <li>
                <label for="instalaciones"
                  >Verificación de instalaciones y terminaciones</label
                >
                <input
                  type="checkbox"
                  name="instalaciones"
                  id="instalaciones"
                />
              </li>
              <li>
                <label for="metros"
                  >Medición de metros cuadrados de la vivienda</label
                >
                <input type="checkbox" name="metros" id="metros" />
              </li>
              <li>
                <label for="luz"
                  >Inspección de luz, instalaciones sanitarias y gas</label
                >
                <input type="checkbox" name="luz" id="luz" />
              </li>
              <li>
                <label for="Termografia">Termografias</label>
                <input type="checkbox" name="termografia" id="termografia" />
              </li>
              <li class="btn-servicios">
                <button type="submit" >Contratar</button>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>

   <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="{{ url_for('static', filename='js/agregarServicio.js') }}"></script>
{% endblock %}